[Unit]
Description=TuneIt Daemon Service
After=network.target dbus.service

[Service]
Type=simple
User=root
ExecStart=tuneit-daemon
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
